
<div>
    Vytvořeno pomocí nástrojů:
    <ul>
        <li>Grunt</li>
        <li>Ember.js</li>
        <li>Twitter Bootstrap</li>
        <li>Google Charts</li>
        <li>Volební API iHNED.cz</li>
    </ul>
    Zdrojáky jsou dostupné na <a href="https://github.com/volmutj/elections-charts">https://github.com/volmutj/elections-charts</a>
</div>

<div>
    Autoři:
    <a href="https://twitter.com/VolmutJ">Jan Volmut</a>
    a
    <a href="https://twitter.com/pavelsmolka">Pavel Smolka</a>.
</div>
