{{view Elections.NavigationView}}

<div class="container">
    {{outlet}}
</div>


<div class="panel-footer navbar-fixed-bottom text-center text-small">
    Volební přehled - vytvořili  <a href="https://twitter.com/VolmutJ">Jan Volmut</a>
    a
    <a href="https://twitter.com/pavelsmolka">Pavel Smolka</a>.
    Více informací {{#link-to 'about'}}o aplikaci{{/link-to}}
</div>